body{
    width: 100%;
    height: auto;
    text-decoration: none;
}
.pageHome{
    display: flex;
    .left-sidebar{
        flex: 1;
        height: 663px;
        background-color: #236167;
        .left-info{
            height: 603px;
            .left-info-logo{
                text-align: center;
                height: 78.28px;
            }
            .left-info-control{
                display: flex;
                justify-content: center;
                text-align: center;
                height: 121px;
                background-color: #227F88;
                .left-info-control-item{
                    margin: 1.5rem 1.5rem;
                    p{
                        color: white; 
                        
                    }
                }
            }

            .left-info-menu{
                height: 196px;
                .left-info-menu-content{
                    padding: 2rem 4rem;
                    ul{
                        list-style: none;
                        color: #142527;
                        li{
                            padding: 0.5rem;
                            .left-info-menu-item{
                                img{
                                }
                                span{
                                   
                                }
                            }
                        }
                    }
                }
            }
        }

        .socials{
            height: 35px;
            ul{
                width: 100%;
                list-style: none;
                text-align: center;
                li{
                    display: inline-block;
                    img{
                        height: 35px;
                        width: 35px;
                        padding: 0px 30px;
                    }
                }
            }
        }
    }

    .content{
        flex-basis: 1000px;
        height: 1000px;
        
    }
}

